<!DOCTYPE html>

<html>
<head>
    <title>TGo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/static/css/index.css"  media="all">
</head>

<body>
    <div id="header">
        <h1> Test Case Management System</h1>
    </div>

    <div id="nav">
        QUERY<br>
        ADD<br>
    </div>

    <div id="section">
        <h1>QUERY</h1>
        <p>
            <form action="/query" method="Post">
                <div>
                    GetPaymentBy AccountID:<input  type="text" name="AccountID1" />
                </div>
        
                <div>
                    <input type= "submit" name="n" />
                </div>
            </form>
        </p>
        <div id="section">
            <h1>ADD</h1>
        </div>
        <p>
            <form action="/query" method="Post">
                <div>
                    GetPaymentBy AccountID:<input  type="text" name="AccountID1" />
                </div>
        
                <div>
                    <input type= "submit" name="n" />
                </div>
            </form>
        </p>
    </div>
    <div class="default"><span>total{{.totalItem}}record</span>
    <div style="float:left;">{{.pagerhtml}}</div>
    </div>
    <div id="show">
        <script type="text/javascript"
        src="jquery-1.8.3.min.js">
    </script>
    <script type= "text/javascript"
            src = "bootstrap-table.js">
        </script>
        <link rel="stylesheeet" href="bootstrap-table.css"/>
<table class="table table-bordered" id = "table_page">
    <tr>
        <td>1</td><td>TestJob</td><td>TestName</td>
    </tr>
    <tr>
        <td>2</td><td>TestJob</td><td>TestName</td>
    </tr>
    <tr>
        <td>3</td><td>TestJob</td><td>TestName</td>
    </tr>
</table>
    </div>
    <div id = "footer">
        Copyright www.T-Goo.com.cn
    </div>
</body>
</html>